PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
NEXTAUTH_SECRET=your-nextauth-secret-key
DATABASE_URL="postgresql://postgres.your-project-ref:your-db-password@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.your-project-ref:your-db-password@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-google-app-password
SMTP_FROM_NAME=CommandDesk
SMTP_FROM_EMAIL=your-email@gmail.com

SELF_URL=http://localhost:3001
APP_URL=http://localhost:3000
ENABLE_KEEP_ALIVE=true
KEEP_ALIVE_INTERVAL_MINUTES=10
